.textred{
    color:red;
}

.beigebg{
    background-color:beige;
}

#pinklondon {
    background-color:pink;
}

#ottawa {
    scroll-behavior: smooth;
}

#topofpage {
    scroll-behavior: smooth;
}

.boxmodelspan{
    padding:0,5px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-top-width:4px;
    border-top-color:grey;
    border-bottom-width:4px;
    border-bottom-color:black;
}

.fillerp{
    border-style:ridge;
    border-color:lightgreen;
    border-width:10px;
    margin:5px;
}